@font-face {
  font-family: 'Old Typewriter';
  src: url('assets/Old_Typewriter.ttf');
}

@font-face {
  font-family: 'Negative System';
  src: url('assets/negative_system.otf');
}

body {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  padding: 2em 0 2em 0;
}

.nav-item {
  background-color: black;
  color: white;
  border-color: black;
  border-style: solid;
}

button:hover {
  cursor: pointer;
}

#site-logo {
  font-size: 2em;
  padding: 0.1em 0.3em 0.1em 0.3em;
}

#cyber {
  font-family: 'Negative System';
  color: black;
}

#beatlemania {
  font-family: 'Old Typewriter';
}