@font-face {
  font-family: 'Old Typewriter';
  src: url('assets/Old_Typewriter.ttf');
}

@font-face {
  font-family: 'Negative System';
  src: url('assets/negative_system.otf');
}

@font-face {
  font-family: 'Quentin';
  src: url('assets/Quentin.otf');
}

#initial-beatles {
  width: 100%;
}

#photo-overlay {
  font-family: 'Old Typewriter';
  background-color: antiquewhite;
  display: inline-block;
  color: grey;
  padding: 1.5em;
  border-radius: 0.2em;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 11em;
  font-size: 1.2em;
  box-shadow: 0.2em 0.1em 2em rgb(177, 167, 153) inset;
  width: 25em;

}